.App {
  text-align: center;
}
.App-icon{
  height: 5rem;
}

.bg-light{
  background-color: #72a0e0!important;
}
header{
  background-color: #72a0e0!important;
  padding: 1rem;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 2em;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

button{
  margin: 0.5em !important;
}